<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.osplay.olacos">
    <!--
    为了方便写demo，引入了 https://github.com/bingoogolapple/BGAPhotoPicker-Android
    和 https://github.com/bingoogolapple/BGAAdapter-Android 这两个库
    你自己项目里没用这两个库的话不需要加这个
    -->
    <uses-sdk tools:overrideLibrary="cn.bingoogolapple.photopicker,cn.bingoogolapple.androidcommon.adapter" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="net.osplay.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_olacos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- activity有EditText时禁止自动弹出软键盘 -->
        <!-- 声明Activity时加上：android:windowSoftInputMode="stateHidden" -->
        <!-- 解决软键盘将布局顶起方法：android:windowSoftInputMode="adjustPan|stateHidden" -->
        <activity
            android:name="net.osplay.ui.activity.sub.SplashActivity"
            android:theme="@style/transparentStatusTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 横竖屏感应configChanges  screenOrientation -->
        <activity
            android:name="net.osplay.ui.activity.sub.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="net.osplay.ui.activity.sub.PublishGoodsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="net.osplay.ui.activity.sub.PublishPostsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="net.osplay.ui.activity.sub.PublishActivityActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- <activity android:name="net.osplay.ui.activity.sub.QRCodeActivity" /> -->
        <activity
            android:name="net.osplay.ui.activity.sub.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="net.osplay.ui.activity.sub.RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="net.osplay.ui.activity.sub.ForgetPwdActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="net.osplay.ui.activity.sub.MineCenterActivity"
            android:theme="@style/transparentStatusTheme" />
        <activity android:name="net.osplay.ui.activity.sub.MineSetActivity" />
        <activity android:name="net.osplay.ui.activity.sub.FeedbackActivity" />
        <activity android:name="net.osplay.ui.activity.sub.OrderActivity" />
        <activity
            android:name="net.osplay.ui.activity.sub.MinePageSelfActivity"
            android:theme="@style/transparentStatusTheme" />
        <activity
            android:name="net.osplay.ui.activity.sub.MinePageOtherActivity"
            android:theme="@style/transparentStatusTheme" />
        <activity
            android:name="net.osplay.ui.activity.sub.ReturnGoodsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="net.osplay.ui.activity.sub.EditInfoActivity" />
        <activity android:name="net.osplay.ui.activity.sub.DouPictureActivity" />
        <activity android:name="net.osplay.ui.activity.sub.EditRealNameActivity" />
        <activity android:name="net.osplay.ui.activity.sub.MineCollectActivity" />
        <activity android:name="net.osplay.ui.activity.sub.MinePublishActivity" />
        <activity android:name="net.osplay.ui.activity.sub.DouPictureDetailsActivity" />
        <activity android:name="net.osplay.ui.activity.sub.DouPictureVoteActivity" />
        <activity android:name="net.osplay.ui.activity.sub.MineTradingActivity" />
        <activity android:name="net.osplay.ui.activity.sub.MineMoneyActivity" />
        <activity android:name="net.osplay.ui.activity.sub.MoneyValueActivity" />
        <activity android:name="net.osplay.ui.activity.sub.MoneyWithdrawActivity" />
        <activity android:name="net.osplay.ui.activity.sub.MoneyNewCardActivity" />
        <activity android:name="net.osplay.ui.activity.sub.MoneySelectCardActivity" />
        <activity android:name="net.osplay.ui.activity.sub.CreateCommunityActivity" />
        <activity android:name="net.osplay.ui.activity.sub.EventDetailsActivity" />
        <activity android:name="net.osplay.ui.activity.sub.CreateOrJoinActivity" />
        <activity android:name="net.osplay.ui.activity.sub.JoinCommunityDetailsActivity" />
        <activity android:name="net.osplay.ui.activity.sub.AllCommunityActivity" />
        <activity
            android:name="net.osplay.ui.activity.sub.DetailsTopicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentStatusTheme" />
        <activity
            android:name="net.osplay.ui.activity.sub.DetailsColumnActivity"
            android:theme="@style/transparentStatusTheme" />
        <activity
            android:name="net.osplay.ui.activity.sub.DetailsPostsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="net.osplay.ui.activity.sub.DetailsDouPictureActivity"
            android:theme="@style/transparentStatusTheme" />
        <activity android:name="net.osplay.ui.activity.sub.MallInfoActivity" />
        <activity android:name="net.osplay.ui.activity.sub.LeagueIMActivity" />
        <activity android:name="net.osplay.ui.activity.sub.SearchActivity" />
        <activity android:name="net.osplay.ui.activity.sub.MessageActivity" />
        <activity android:name="net.osplay.ui.activity.sub.ChangeNameActivity" />
        <activity android:name="net.osplay.ui.activity.sub.ChangeAgeActivity" />
        <activity android:name="net.osplay.ui.activity.sub.ChangeXingzuoActivity" />
        <activity android:name="net.osplay.ui.activity.sub.ChangeAreaActivity" />
        <activity android:name="net.osplay.ui.activity.sub.WaitDevActivity" />
        <activity android:name="net.osplay.ui.activity.sub.HotRankingActivity" />
        <activity android:name="net.osplay.ui.activity.sub.LabelActivity" />
        <activity android:name="net.osplay.ui.activity.sub.OlacosActivity"></activity>
    </application>

</manifest>