<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.osplay.olacos">
    <!--
    为了方便写demo，引入了 https://github.com/bingoogolapple/BGAPhotoPicker-Android
    和 https://github.com/bingoogolapple/BGAAdapter-Android 这两个库
    你自己项目里没用这两个库的话不需要加这个
    -->
    <uses-sdk tools:overrideLibrary="cn.bingoogolapple.photopicker,cn.bingoogolapple.androidcommon.adapter" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_olacos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- activity有EditText时禁止自动弹出软键盘 -->
        <!-- 声明Activity时加上：android:windowSoftInputMode="stateHidden" -->
        <!-- 解决软键盘将布局顶起方法：android:windowSoftInputMode="adjustPan|stateHidden" -->
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/transparentStatusTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name="net.osplay.module_post.PublishGoodsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="net.osplay.module_post.PublishPostsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="net.osplay.module_post.PublishActivityActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.QRCodeActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="net.osplay.module_mine.activity.MineCenterActivity"
            android:theme="@style/transparentStatusTheme" />
        <activity android:name="net.osplay.module_mine.activity.MineSetActivity" />
        <activity android:name="net.osplay.module_mine.activity.FeedbackActivity" />
        <activity android:name="net.osplay.module_mine.activity.OrderActivity" />
        <activity
            android:name="net.osplay.module_mine.activity.MinePageActivity"
            android:theme="@style/transparentStatusTheme" />
    </application>

</manifest>